services:
  adguard:
    image: adguard/adguardhome:v0.107.71
    container_name: adguard
    network_mode: host
    volumes:
      - adguard-config:/opt/adguardhome/conf
      - adguard-data:/opt/adguardhome/work
    restart: unless-stopped

volumes:
  adguard-config: {}
  adguard-data: {}
